/* @layer utilities {
  .text-shadow {
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  }
} */

.navs{
  position: relative;
  
}
.navs:hover::before{
  width: 100%;
}

.navs::before{
  content: "";
  position: absolute;
  height: .1px;
  width: 0%;
  background: #fff;
  bottom: -.2rem;
  transition: .4s linear;
}
.active::before{
  content: "";
  position: absolute;
  height: .1rem;
  width: 100%;
  background: #fff;
  bottom: -.3rem;
  transition: .4s linear;
  /* width: 100%; */
}


.searchActive .header{
  background-color: black;
}


.ssBox{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nssBox{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.nsmNav{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.smNav{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.partner{
  position: relative;
}

.partner::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 20rem;
  top: 0;
  background-image: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255,1));
  z-index: 1000000;
  right: 0;
}
.partner::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 20rem;
  top: 0;
  background-image: linear-gradient( to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 1000000;
  left: 0;
}

@media  (max-width: 768px) {
  .partner::after{
    
    width: 10rem;
    
  }
  .partner::before{
    
    width: 10rem;
    
  }
}

