/* @layer utilities {
  .text-shadow {
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  }
} */

.navs{
  position: relative;
  
}
.navs:hover::before{
  width: 100%;
}

.navs::before{
  content: "";
  position: absolute;
  height: .1px;
  width: 0%;
  background: #fff;
  bottom: -.2rem;
  transition: .4s linear;
}
.active::before{
  content: "";
  position: absolute;
  height: .1rem;
  width: 100%;
  background: #fff;
  bottom: -.3rem;
  transition: .4s linear;
  /* width: 100%; */
}

/* .image-slider-container {
  position: relative;
}

.image-slider {
  transition: 1s ease-in-out;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
} */


/* .active {
  transform: scale(1.05); 
} */


/* .img{
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
} */

.swiper-pagination-bullets{
  position: relative;
  margin-top: 35rem;
  /* background: red; */
  bottom: -5rem;
  padding-bottom: -5rem;
}

.swiper{
  position: relative;
  margin-bottom: 2rem;
}

.searchActive .header{
  background-color: black;
}



